<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filters.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>InventoryServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>AdminSplashServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>UserManagerServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>CategoryManagerServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>accountServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AdminSplashServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>UserManagerServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>CategoryManagerServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>UserManagerServlet</servlet-name>
        <servlet-class>servlets.UserManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSplashServlet</servlet-name>
        <servlet-class>servlets.AdminSplashServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryServlet</servlet-name>
        <servlet-class>servlets.InventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passwordHelpServlet</servlet-name>
        <servlet-class>servlets.forgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryManagerServlet</servlet-name>
        <servlet-class>servlets.CategoryManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrationServlet</servlet-name>
        <servlet-class>servlets.registrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountServlet</servlet-name>
        <servlet-class>servlets.accountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminSplashServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagerServlet</servlet-name>
        <url-pattern>/admin/userManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryServlet</servlet-name>
        <url-pattern>/inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passwordHelpServlet</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryManagerServlet</servlet-name>
        <url-pattern>/admin/categoryManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrationServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            login
        </welcome-file>
    </welcome-file-list>
    <env-entry>
        <description>The E-mail address of the e-mail account responsible for sending out emails responsible for sending out emails via java mail</description>
        <env-entry-name>webmail-username</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>WebDev352@gmail.com</env-entry-value>
    </env-entry>
    <env-entry>
        <description>The display name visible as sender when sending e-mails via java mail</description>
        <env-entry-name>webmail-displayName</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Home nVentory</env-entry-value>
    </env-entry>
    <env-entry>
        <description>The password of the e-mail account responsible for sending out emails via java mail</description>
        <env-entry-name>webmail-password</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>7fVsSD2b</env-entry-value>
    </env-entry>
    <error-page>
        <location>/WEB-INF/error_jsps/html_error_general.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/WEB-INF/error_jsps/java_error_general.jsp</location>
    </error-page>
</web-app>